# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.pnp.*
.pnpm-debug.log*
.cache/
.yarn

# Circom build artifacts
build/
*.r1cs
*.sym
*.wasm
*.zkey
*.wtns

# Proofs & inputs
proof.json
public.json
input.json
witness.json

# Powers of Tau files (big & reproducible)
*.ptau

# Keep verification key only (ignore everything else in /keys)
keys/*
!keys/verification_key.json

# Logs & system files
.DS_Store
Thumbs.db
*.log

# Env / secrets
.env
.env.local
.env.*.local

# Optional: ignore coverage and test artifacts
coverage/
*.lcov
